<h1>Chat Room</h1>
<div id="messages">
	<% @messages.each do |message| %>
		<%= render partial: "/messages/message", locals: {message: message} %>
	<% end %>
</div>

<form>
	<label>New message:</label><br>
	<input type="text" data-behavior="room_speaker">
</form>